{% load static %}
<!DOCTYPE html>
<html lang="en">
<script>
    var GLOBAL_PATH = '{{ STATIC_PATH }}'; 
</script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
</head>

<h1><span class="blue"></span>Ranking Geral<span class="blue"></span> </h1>
    <form action="{% url 'ranking' %}" method="POST"> {% csrf_token %}
    <h2><button name = 'ranking' value = 'ranking' ><a>Voltar para os jogos</a></button></p></h2>
    </form>
<body>

    <div class="subtitle">
        <h3>* AP = ACERTOS PARCIAIS</h3>
        <h3>* AT = ACERTOS TOTAIS</h3> 
    </div>

    <table class ="container">
        <tr>
			<th><h1>Colocação</h1></th>
			<th><h1>Nome</h1></th>
			<th><h1>AP</h1></th>
			<th><h1>AT</h1></th>
            <th><h1>Pontuação</h1></th>
		</tr>
    
    {% for rank in ranking %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{rank.fk_userId}}</td>
            <td>{{rank.correct_winner}}</td>
            <td>{{rank.correct_results}}</td>
            <td>{{rank.pontuacao}}</td>

        {% endfor %}
        </tr>
</table>
    
</body>
</html>