{% load static %}
<!DOCTYPE html>
<html lang="en">
    <script>
        var GLOBAL_PATH = '{{ STATIC_PATH }}'; 
   </script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class ="caixa-registro">
        <h1>REGISTRO</h1>
        </div>
    <div class="login-page">
        <div class="form">
            <form class ="register-form" action="{% url 'register' %}" method="POST"> {% csrf_token %}
                {% if fl_erro == 1 %}
                <p class="error">Usuário {{ username }} já existe</p>
                <input type ='text' placeholder="Username" name="username" value={{ username }}>
                <input type ='text' placeholder="Nome" name="primeiro_nome" value = {{ nome }}>
                <input type ='text' placeholder="Sobrenome" name="sobrenome" value = {{ sobrenome }}>
                <input type ='email' placeholder="Email" name="email" value={{ email }}> 
                <input type ='password' placeholder="Senha" name="password" minlength="4" required>
                {% elif fl_erro_nome == 1 %}
                <p class ="error">Insira o nome e o sobrenome</p>
                <input type ='text' placeholder="Username" name="username" value={{ username }}>
                <input type ='text' placeholder="Nome" name="primeiro_nome" value = {{ nome }}>
                <input type ='text' placeholder="Sobrenome" name="sobrenome" value = {{ sobrenome }}>
                <input type ='email' placeholder="Email" name="email" value={{ email }}> 
                <input type ='password' placeholder="Senha" name="password" minlength="4" required>
                {% else %}
                <input type ='text' placeholder="Username" name="username" required>
                <input type ='text' placeholder="Nome" name="primeiro_nome" required>
                <input type ='text' placeholder="Sobrenome" name="sobrenome" required>
                <input type ='email' placeholder="Email" name="email"> 
                <input type ='password' placeholder="Senha" name="password" minlength="4" required>
                {% endif %}
       
                <button>Criar conta</button>
                <p class="message">Já tem uma conta? <a href="../login">Entre por aqui!</a></p>
            </form>
        </div>
    </div>
    
</body>
</html>